<% content_for :graph do %>

	<% @daysToShow = Day.last(params[:days] ? params[:days].to_i : 20) %>

  	<% @field_data1, @field_data2, @field_data3, @field_data4, @field_data5 = [],[],[],[],[] %>
	<% @field_data1 = @daysToShow.map{ |day| day.field1 << ',' }.to_s.chop %>
	<% @field_data2 = @daysToShow.map{ |day| day.field2 << ',' }.to_s.chop %>
	<% @field_data3 = @daysToShow.map{ |day| day.field3 << ',' }.to_s.chop %>
	<% @field_data4 = @daysToShow.map{ |day| day.field4 << ',' }.to_s.chop %>
	<% @field_data5 = @daysToShow.map{ |day| day.field5 << ',' }.to_s.chop %>

	<div id="statsInner">
		<canvas id="myBar" width="650" height="200">[No canvas support]</canvas>				
	</div>
	
	<script>
        window.onload = function () {
            var lines = new RGraph.Line('myBar',  [<%=@field_data1%>], [<%=@field_data2%>], [<%=@field_data3%>], [<%=@field_data4%>], [<%=@field_data5%>]);
            lines.Set('chart.colors', ['red', 'blue', 'green', 'magenta', 'brown']);
			lines.Set('chart.tickmarks', ['circle','circle','circle','circle','circle']);
			lines.Set('chart.linewidth', 2);
			lines.Set('chart.ylabels', false);
			lines.Set('chart.background.grid.color', 'rgba(0,0,0,0)');
            lines.Draw();
        }
    </script>
    <div>xx</div>
<% end %>

<% content_for :main do %>

	<div id="fullWidth">

		<h2>TODAY <span class="todayDate"><%= Time.now.strftime("%Y-%m-%d") %></span></h2>

		<script>
		$(document).ready(function() {
	
			$('.rater .dot').click(function(){
		
				// values
				var id = $(this).html()                                       // id = 0 / +1 / +2 etc
				var updatesID = $(this).parent('ul').attr('updates');         // day_field1
				var startValue = $('#' + updatesID).attr('startvalue');       // previous value from startvalue field attr
				
				// select function
				$(this).siblings('.dot').removeClass('zero')
				$(this).addClass('zero')
		
				// update chosen
				var chosenField = $(this).siblings('.chosen')
				chosenField.html(id)
		
				if( $(this).hasClass('neg') ) { 
					chosenField.addClass('negative');
				} else { 
					chosenField.addClass('positive');	
				}

				// calculate new values
				var newValue = parseInt(startValue);
				if ( id.indexOf('+') == 0  ) { 
					id = id.replace('+', "");	
					newValue = newValue + parseInt(id);			
				} else if ( id.indexOf('-') == 0 ) {
					id = id.replace('-', "");
					newValue = newValue - parseInt(id);
				} else {}

				// update form field
				$( '#' + updatesID ).attr('value', newValue );
		
			})
		});
		</script>	

		<%= form_for @day do |f| %>

			<% if @day.errors.any? %>
			   	<% @day.errors.full_messages.each do |msg| %>
			     	<div><%= msg %></div>
				<% end %>
			<% end %>

			<div class="options">

				<% @fields = Field.all %>
				<% @lastEntry = Day.last   %>              
			    <% @lastDay = Day.find(@lastEntry.id) %>

				<!-- div id="optionsDate"><%= Time.now.strftime("%Y-%m-%d") %></div -->
	
				<% @fields.each_with_index do |field,i| %>
	
					<ul class="rater" updates='<%= "day_field#{i+1}" %>'>
						<li class="dot neg">-3</li>
						<li class="dot neg">-2</li>
						<li class="dot neg">-1</li>
						<li class="dot zero">0</li>
						<li class="dot pos">+1</li>
						<li class="dot pos">+2</li>
						<li class="dot pos">+3</li>
						<li class="chosen">-</li>
						<li class="category"><%= field.fieldName %></li>
					</ul>
	
				<% end %>
	
			</div>

		    <!--%= render 'form' %-->

		  <div class="field">
		  	  <%= f.text_field :date, :value => Time.now.strftime("%Y-%m-%d") %>
		  </div>

		  <% @fields.each_with_index do |field,i| %>
		      <% @dbField = "field#{i+1}" %>

		      <div class="field">
	
		            <%= f.label @fields[i].fieldName %><br />

				  	<% if (i == 0) %> 
				  		<%= f.text_field @dbField, :value => @lastDay.field1, :startvalue => @lastDay.field1 %>
				  	<% end %>

				  	<% if (i == 1) %> 
				  		<%= f.text_field @dbField, :value => @lastDay.field2, :startvalue => @lastDay.field2 %>
				  	<% end %>

					<% if (i == 2) %> 
						<%= f.text_field @dbField, :value => @lastDay.field3, :startvalue => @lastDay.field3 %>
					<% end %>

					<% if (i == 3) %> 
						<%= f.text_field @dbField, :value => @lastDay.field4, :startvalue => @lastDay.field4 %>
					<% end %>
			
					<% if (i == 4) %> 
						<%= f.text_field @dbField, :value => @lastDay.field5, :startvalue => @lastDay.field5 %>
					<% end %>
			
					<% if (i == 5) %> 
						<%= f.text_field @dbField, :value => @lastDay.field6, :startvalue => @lastDay.field6 %>
					<% end %>
					
		      </div>
		  <% end %>

		  <div class="field commentBox" style="display:block">
  	  	      <%= f.text_area :comment, :value => "comment" %>
          </div>

		  <div class="actions">
			  <%= image_submit_tag 'submit.png', :class => 'image-submit' %>
		  </div>
	
	    <% end # form %>

	</div> 
<% end %>

<% content_for :follow do %>
    <div class="jqueryToggleBtn">HISTORICAL</div>

	<div id="historical" class="jqueryToggleContent" style="display:none">
		
		<% @days = Day.all %>
		
		<div class="row">
			<span class="id">id</span>
			<span class="date">date</span>
			<% @fields.each_with_index do |field,i| %>
  		    	<span><%= field.fieldName %></span>
			<% end %>
		</div>	
		
		<% @days.each do |day| %>
			<div class="row">
	   		    <span class="id"><%= day.id %></span>
	  			<span class="date"><%= day.date %></span>
				<span><%= day.field1 %></span>
			    <span><%= day.field2 %></span>
			    <span><%= day.field3 %></span>
			    <span><%= day.field4 %></span>
			    <span><%= day.field5 %></span>
				<span class="comment"><%= day.comment %></span>
			</div>
		<% end %>
		
	</div>	
<% end %>	



