<!DOCTYPE html>
<html>

<head>
  <title>Biolars</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'rgraph/RGraph.common.core.js', 'rgraph/RGraph.line.js', 'rgraph/RGraph.common.context.js', 'rgraph/RGraph.common.annotate.js', 'rgraph/RGraph.common.tooltips.js', 'rgraph/RGraph.common.resizing.js', 'bio' %>
  <%= csrf_meta_tag %>
</head>

<body>
	<div id="topBar"></div>
	<div id="page">
		<div id="header"><h1><a href="/">BioLars</a></h1><div id="headerDate">beta</div></div>
		<div id="body">
			<%= flash[:notice] %>
			<div id="stats">
				<%= yield :graph %>
			</div>
		</div>
		<div id="main">
			<%= yield :main %>
		</div>
		<div id="mainFollowup">
			<%= yield :follow %>
		</div>			
	</div>

</body>
</html>
