<!DOCTYPE html>
<html>

<head>
  <title>Biolars</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'rgraph/RGraph.common.core.js', 'rgraph/RGraph.line.js'%>
    <script src="javascripts/rgraph/RGraph.common.context.js" ></script>
    <script src="javascripts/rgraph/RGraph.common.annotate.js" ></script>
    <script src="javascripts/rgraph/RGraph.common.tooltips.js" ></script>
    <script src="javascripts/rgraph/RGraph.common.zoom.js" ></script>

    <script src="../rgraph/RGraph.common.resizing.js" ></script>

  <%= csrf_meta_tag %>
</head>

<body>
	<div id="topBar"></div>
	<div id="page">
		<div id="header"><h1><a href="/">BioLars</a></h1><div id="headerDate"><%=Time.now.strftime("%Y-%m-%d")%></div></div>
		<div id="body">
			<%= flash[:notice] %>
			<div id="stats">
				<%= yield :graph %>
			</div>
		</div>
		<div id="main">
			<%= yield :main %>
		</div>
		<div id="mainFollowup">
			<%= yield :follow %>
		</div>			
	</div>

</body>
</html>
